<!DOCTYPE html>
<html>

<!--From here the request will go to the login.spring request processing method, now we will have to see how we can define request processing method for POST request type or the Dispatcher servlet will
handle it by itself   -->
<body>
<form action="login.spring" method="post">
Email Id: <input type="email" name="mailId" required="required"><br>
Password: <input type="password" name="password" required="required"><br>
<input type="submit" value="Login">
</form>
</body>
</html>