<!DOCTYPE html>
<html>

<!--From here the request will go to the resgister.spring request processing method, now we will have to see how we can define request processing method for POST request type or the Dispatcher servlet will
handle it by itself   -->
<body>
<form action="register.spring" method="post">
<h3>Enter the below details to register yourself</h3>
User Name: <input type="text" name="userName" required="required"><br>
Email Id: <input type="email" name="mailId" required="required"><br>
Password: <input type="password" name="password" required="required" ><br>
Confirm Password: <input type="password" name="confirmedPassword" required="required"><br>
<input type="submit" value="Register">
</form>
</body>
</html>